.addjs-container {
    padding: 5px;
    background-color: rgb(247, 245, 250);
    border-radius: 10px;
    /* p-1 bg-gradient-to-r from-slate-800 to-slate-700 */
}

.addjs-header {
    padding: 5px;
    margin: 1px;
    border-radius: 10px;
    background-color: rgb(115, 148, 238);
    /* p-1 text-2xl text-white  bg-gradient-to-r from-red-600 to-slate-900 text-white rounded-lg */

}

.addjs-item-container {
    /* border-dotted border-y rounded-sm  border-sky-700 flex  mw-auto  p-1 justify-between bg-slate-400 */
    border-bottom: darkblue dashed;
    border-radius: 10px;
    display: flex;
    padding: 1px;
    border-radius: 5px;
    justify-content: space-between;
    background-color: rgb(246, 248, 248);

}

.addjs-option-heading {
    /* text-black font-medium  ml-2 */
    margin-left: 1rem;

}

.addjs-line {

    max-width: 30pc;
}

.addjs.line-style {

    /* w-full flex-grow-0 mt-3 border-t border-blue-900 justify-center h-1 */
    display: flex;
    flex-grow: 0;
    margin-top: 10px;
    border: 1px solid black;
    justify-content: center;

}

.addjs-price-box-container {
    display: flex;

    margin-right: 1em;

    background-color: white;
    border-radius: 5px;
    /* flex gap-2 */
}

.addjs-price-box-container p {
    margin: 5px;
}

.addjs-note {
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 5px;
    color: red;
    font-size: small;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}