.App {
  text-align: center;
  display: flex;
  flex-direction: row;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  /* border: 1px solid green; */
  position: relative;

  max-width: 100pc;
  height: fit-content;
}

.main{
  /* border: 2px solid red; */
  max-width: 70%;
  margin-top: 1rem;
  height: fit-content;
  position: relative;

  
  
}
.left{
  max-width: 10%;

  /* border: 1px solid rebeccapurple; */
  margin-right: 2rem;
margin-left: 0;
  max-width: 10pc;
  height: fit-content;
 
  position: sticky;
  top: 60px;
}
.right{
  /* border: 2px solid green; */
min-width: 15pc;
  margin-top: 3rem;
  height: fit-content;
  position: sticky;
  top: 60px;
}



#header {
  background-color: #f1f1f1;
  
  padding: 50px 10px;
  color: black;
  text-align: center;
  font-size: 40px; 
  font-weight: bold;
  /* position: fixed; */
  top: 0;
  width: fit-content;
  transition: 0.2s;
}


.sidebar{
    
  width: 160px;
  background-color: #61dafb;
  margin:1rem ;

}
.sidebarlist{
  height: fit-content;
  width: auto;
  padding: 0px;
}
.sidebar .row{
  width: auto;
  
  border-radius: 10px;
  
  height: 50px;
  background-color:#007bff  ;

  /* border: 1px solid black; */
  list-style-type: none;
  justify-content: center;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family:cursive;


}
.sidebar .row:hover{
  cursor: pointer;
  background-color: #bccef1;
  transition: 0.2s;


}
.sidebar .row:active{
  transition: 0.3s;
  background-color: #91bef1;
}
.row #icon{
  flex:30%;
  display: grid;
  place-items: center;

}
.row #title{
  flex:70%;
  color:white
}
 


/* //trial */

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: rgb(146, 182, 248);
  position: sticky;
  top: 0;
  z-index: 1
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #3d52f5;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
